button {
  padding: 10px 18px;
  margin: 6px;
  font-family: 'Segoe UI', monospace;
  font-size: 24px;
  font-weight: bold;
  color: #eeeeee;
  background-color: #393e46; 
  border: 2px solid #4e555e; 
  border-radius: 6px;
  box-shadow: 2px 2px 0 black;
  cursor: pointer;
  transition: all 0.2s ease;
}

button:hover {
  background-color: #50565f;
  box-shadow: 1px 1px 0 black;
  transform: translateY(1px);
}

button:active {
  background-color: #2e3238;
  box-shadow: inset 1px 1px 2px #a09060;
  transform: translateY(2px);
}

button.activate {
  background-color: #00adb5;
  color: white;
  border-color: #00adb5;
  box-shadow: inset 2px 2px 3px #00adb580;
}