.grid-container {
    border: solid 3px red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 400px;
}

.row {
    /* border: solid 3px green; */
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.block {
    box-sizing: border-box;
    border: solid 0.1px rgb(221, 221, 221);
    height: auto;
    width: auto;
}

/* .block:hover {
    background-color: blue;
} */

.marked {
    background-color: blue;
}

button {
    padding: 12px;
    background-color: grey;
}

button.activate {
    background-color: rgb(172, 172, 172);
}